{% extends 'base.html.twig' %}

{% block title %}New Band{% endblock %}

{% block body %}
    <h1>Create new band</h1>

    {{ include('band/_form.html.twig') }}

    <button class="btn btn-soft btn-primary">
        <a href="{{ path('app_band_index') }}">Back to list</a>
    </button>

{% endblock %}
