@import "tailwindcss";

@plugin "daisyui";


@plugin "daisyui/theme" {
    name: "abyss";
    default: false;
    prefersdark: false;
    color-scheme: "dark";
    --color-base-100: oklch(20% 0.08 209);
    --color-base-200: oklch(38% 0.063 188.416);
    --color-base-300: oklch(10% 0.08 209);
    --color-base-content: oklch(90% 0.076 70.697);
    --color-primary: oklch(92% 0.2653 125);
    --color-primary-content: oklch(50% 0.2653 125);
    --color-secondary: oklch(83.27% 0.0764 298.3);
    --color-secondary-content: oklch(43.27% 0.0764 298.3);
    --color-accent: oklch(43% 0 0);
    --color-accent-content: oklch(98% 0 0);
    --color-neutral: oklch(30% 0.08 209);
    --color-neutral-content: oklch(90% 0.076 70.697);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(79% 0.209 151.711);
    --color-success-content: oklch(26% 0.065 152.934);
    --color-warning: oklch(84.8% 0.1962 84.62);
    --color-warning-content: oklch(44.8% 0.1962 84.62);
    --color-error: oklch(65% 0.1985 24.22);
    --color-error-content: oklch(27% 0.1985 24.22);
    --radius-selector: 2rem;
    --radius-field: 0.25rem;
    --radius-box: 0.5rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}


@plugin "daisyui/theme" {
    name: "acid";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(93% 0.127 124.321);
    --color-base-200: oklch(96% 0.067 122.328);
    --color-base-300: oklch(91% 0 0);
    --color-base-content: oklch(0% 0 0);
    --color-primary: oklch(71.9% 0.357 330.759);
    --color-primary-content: oklch(14.38% 0.071 330.759);
    --color-secondary: oklch(73.37% 0.224 48.25);
    --color-secondary-content: oklch(14.674% 0.044 48.25);
    --color-accent: oklch(92.78% 0.264 122.962);
    --color-accent-content: oklch(18.556% 0.052 122.962);
    --color-neutral: oklch(21.31% 0.128 278.68);
    --color-neutral-content: oklch(84.262% 0.025 278.68);
    --color-info: oklch(60.72% 0.227 252.05);
    --color-info-content: oklch(12.144% 0.045 252.05);
    --color-success: oklch(85.72% 0.266 158.53);
    --color-success-content: oklch(17.144% 0.053 158.53);
    --color-warning: oklch(91.01% 0.212 100.5);
    --color-warning-content: oklch(18.202% 0.042 100.5);
    --color-error: oklch(64.84% 0.293 29.349);
    --color-error-content: oklch(12.968% 0.058 29.349);
    --radius-selector: 1rem;
    --radius-field: 1rem;
    --radius-box: 1rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 1;
    --noise: 0;
}

@plugin "daisyui/theme" {
    name: "garden";
    default: false;
    prefersdark: false;
    color-scheme: "light";
    --color-base-100: oklch(98% 0.018 155.826);
    --color-base-200: oklch(96% 0.044 156.743);
    --color-base-300: oklch(92% 0.084 155.995);
    --color-base-content: oklch(39% 0.095 152.535);
    --color-primary: oklch(54% 0.281 293.009);
    --color-primary-content: oklch(96% 0.016 293.756);
    --color-secondary: oklch(57% 0.245 27.325);
    --color-secondary-content: oklch(97% 0.013 17.38);
    --color-accent: oklch(64% 0.2 131.684);
    --color-accent-content: oklch(98% 0.031 120.757);
    --color-neutral: oklch(44% 0.119 151.328);
    --color-neutral-content: oklch(98% 0.018 155.826);
    --color-info: oklch(74% 0.16 232.661);
    --color-info-content: oklch(29% 0.066 243.157);
    --color-success: oklch(76% 0.177 163.223);
    --color-success-content: oklch(26% 0.051 172.552);
    --color-warning: oklch(85% 0.199 91.936);
    --color-warning-content: oklch(28% 0.066 53.813);
    --color-error: oklch(70% 0.191 22.216);
    --color-error-content: oklch(25% 0.092 26.042);
    --radius-selector: 0.5rem;
    --radius-field: 0.5rem;
    --radius-box: 0rem;
    --size-selector: 0.25rem;
    --size-field: 0.25rem;
    --border: 1px;
    --depth: 0;
    --noise: 1;
}





