<!DOCTYPE html>
<html data-theme="garden">
<head>
    {% block stylesheets %}
    {% endblock %}
    <title>Festivals</title>

</head>
<body>
<header class="text-4xl font-bold bg-base-300 p-4">ShowTime

</header>

<div class="p-8 space-y-6">
    {% block body %}{% endblock %}
</div>

{% block javascripts %}
    {% block importmap %}{{ importmap('app') }}{% endblock %}
{% endblock %}
</body>

</html>
