<!DOCTYPE html>
<html data-theme="abyss">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    <link rel="icon"
          href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text><text y=%221.3em%22 x=%220.2em%22 font-size=%2276%22 fill=%22%23fff%22>sf</text></svg>">
    {% block stylesheets %}
    {% endblock %}

    {% block javascripts %}
        {% block importmap %}{{ importmap('app') }}{% endblock %}
    {% endblock %}
</head>
<body>
<div class="flex min-h-screen bg-base-100">
    <div class="w-64 bg-base-200 flex flex-col items-center space-y-6">
        <div class="text-2xl font-bold p-4 "> Admin</div>


        <ul class="flex flex-col text-xl">
            <li>
                <a href="{{ path('app_band_index') }}">Bands</a>
            </li>
            <li>
                <a href="{{ path('app_festival_index') }}">Festivals</a>
            </li>
        </ul>


    </div>
    <div class="flex flex-col flex-1">
        <div class="text-4xl font-bold bg-base-300 p-4">ShowTime</div>
        <div class="p-8 space-y-6"
        {% block body %}{% endblock %}
    </div>
</div>
</div>


</body>
</html>
