{% extends 'base.html.twig' %}

{% block title %}Edit Band{% endblock %}

{% block body %}

    <div class="flex flex-col items-center">

        <div class="w-full flex justify-center">
            {{ include('festival/form.html.twig', {'button_label': 'Update', 'form_title': 'Edit Festival'}) }}
        </div>
        <div class="flex flex-row p-4 justify-center">
            {{ include('festival/delete_form.html.twig') }}
            <button class="btn btn-soft btn-primary">
                <a href="{{ path('app_festival_index') }}">Back to list</a>
            </button>


        </div>
    </div>
{% endblock %}
