{% extends 'base.html.twig' %}

{% block title %}New Festival{% endblock %}

{% block body %}

    <div class="flex flex-col items-center">

        <div class="flex justify-center">
            {{ include('festival/form.html.twig', {'form_title' : 'Create new festival'}) }}


        </div>
        
        <button class="btn btn-soft btn-primary">
            <a href="{{ path('app_festival_index') }}">Back to list</a>
        </button>
    </div>

{% endblock %}
