{% extends 'base.html.twig' %}

{% block title %}Bands{% endblock %}

{% block body %}

    <h1>Bands</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Name</th>
        </tr>
        </thead>
        <tbody>
        {% for band in festival.bands %}
            <tr>
                <td>{{ band.name }}</td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

{% endblock %}
